/Servlet/Ex1/nbproject/private/
/Servlet/Ex1/build/
/Servlet/Ex2/nbproject/private/
/Servlet/Ex2/build/
/Servlet/Ex3/nbproject/private/
/JSTL/chapter 4 JSTL/nbproject/private/
/JSTL/chapter 4 JSTL/build/
/JSTL/Test 1/nbproject/private/
/JSTL/Test 1/build/
/JSF/Ex 1/nbproject/private/
/JSF/Ex 1/build/