/Servlet/Ex1/nbproject/private/
/Servlet/Ex1/build/
/Servlet/Ex2/nbproject/private/
/Servlet/Ex2/build/
/Servlet/Ex3/nbproject/private/
/JSTL/chapter 4 JSTL/nbproject/private/
/JSTL/chapter 4 JSTL/build/
/JSTL/Test 1/nbproject/private/
/JSTL/Test 1/build/
/JSF/Ex 1/nbproject/private/
/JSF/Ex 1/build/
/JSF/Test2/nbproject/private/
/JSF/Test3/nbproject/private/
/JSF/Test3/build/
/JSF/Test1/nbproject/private/
/JSF/Test1/build/
/JSF/test2/nbproject/private/
/JSF/Test2/build/
/JSF/Test2/dist/
/JSF/BookEx2/nbproject/private/
/JSF/BookEx2/build/
/JSF/ExBook3/nbproject/private/
/JSF/ExBook3/build/
/JSF/chater-6/nbproject/private/
/JSF/chater-6/build/
/JSTL/jstl login/nbproject/private/
/JSTL/jstl login/build/
/JSF/Test/nbproject/private/
/JSF/Test/build/
/JSF/test2/build/
/JSTL/jstllog/nbproject/private/
/JSTL/logincheck/nbproject/private/
/JSTL/logincheck/build/
/JSTL/logincheck/dist/
/JSTL/loginTest/nbproject/private/
/JSTL/loginTest/build/
/JSTL/loginTest/dist/
/JSTL/adada/nbproject/private/
/jsfHibernate1/nbproject/private/
/jsfHibernate1/build/
/JSF/registration1/nbproject/private/
/JSF/registration2/nbproject/private/
/JSF/registration1/build/
/JSF/registration1/dist/