<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side nav</title>
</head>
<body>
<nav id="sidebar" th:fragment="side-navbar" class="">
    <div class="sidebar-header">
        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
        <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
    </div>
    <div class="left-custom-menu-adp-wrap comment-scrollbar">
        <nav class="sidebar-nav left-sidebar-menu-pro">
            <ul class="metismenu" id="menu1">
                <li class="active">
                    <a class="has-arrow" href="index.html">
                        <span class="educate-icon educate-home icon-wrap"></span>
                        <span class="mini-click-non">Home</span>
                    </a>
                    <ul class="submenu-angle" aria-expanded="true">

                        <li><a title="Dashboard v.3" href="index.html"><span class="mini-sub-pro">Dashboard</span></a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow" href="all-admin.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Admin</span></a>
                    <ul class="submenu-angle" aria-expanded="false">
                        <li><a title="Add admin" href="add-admin.html"><span class="mini-sub-pro">Add Admin</span></a></li>
                        <li><a title="Edit admin" href="edit-admin.html"><span class="mini-sub-pro">Edit Admin</span></a></li>
                        <li><a title="admin Profile" href="admin-profile.html"><span class="mini-sub-pro">Admin Profile</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="all-user.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">User</span></a>
                    <ul class="submenu-angle" aria-expanded="false">
                        <li><a title="Add user" href="add-user.html"><span class="mini-sub-pro">Add User</span></a></li>
                        <li><a title="Edit user" href="edit-user.html"><span class="mini-sub-pro">Edit User</span></a></li>
                        <li><a title="user Profile" href="user-profile.html"><span class="mini-sub-pro">User Profile</span></a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Mailbox</span></a>
                    <ul class="submenu-angle" aria-expanded="false">
                        <li><a title="Inbox" href="mailbox.html"><span class="mini-sub-pro">Inbox</span></a></li>
                        <li><a title="View Mail" href="mailbox-view.html"><span class="mini-sub-pro">View Mail</span></a></li>
                        <li><a title="Compose Mail" href="mailbox-compose.html"><span class="mini-sub-pro">Compose Mail</span></a></li>
                    </ul>
                </li>

                <li>
                    <a title="Landing Page" href="events.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>
                </li>


                <li id="removable">
                    <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>
                    <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                        <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>
                        <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>
                        <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>
                        <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>
                        <li><a title="404 Page" href="404.html"><span class="mini-sub-pro">404 Page</span></a></li>
                        <li><a title="500 Page" href="500.html"><span class="mini-sub-pro">500 Page</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</nav>
</body>
</html>