<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>Address</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">


        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Address</h4>

                    <form class="forms-sample" th:object="${obj}" method="post"
                          th:action="@{/address/create.jsf}">
                        <div class="form-group row">
                            <label for="addre" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="addre" th:field="*{addre}" required
                                       placeholder="Enter Address">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="postCode" class="col-sm-3 col-form-label">Post Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="postCode" th:field="*{postCode}" required
                                       placeholder="Enter Post Code">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="division" class="col-sm-3 col-form-label">Division</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="division" th:field="*{division}" required
                                       placeholder="Enter Division">

                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="country" class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="country" th:field="*{country}" required
                                       placeholder="Enter Country">

                            </div>
                        </div>
                        <button class="btn btn-success mr-2 float-right">Submit</button>
                        <button type="submit" class="btn btn-light mr-2 float-right">Reset</button>

                    </form>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>